<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.richter.alarmmeldung">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Core.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <receiver android:name=".Core$SendBroadcastReceiver">
                <intent-filter>
                    <action android:name="SMS_SENT" />
                </intent-filter>
            </receiver>
            <receiver android:name=".Core$DeliveryBroadcastReceiver">
                <intent-filter>
                    <action android:name="SMS_DELIVERED" />
                </intent-filter>
            </receiver>
        </activity>
        <activity
            android:name=".Core.EditMessagesActivity"
            android:label="@string/edit_messages"></activity>
        <activity
            android:name=".Core.EditGroupsActivity"
            android:label="@string/edit_groups"></activity>

        <service
            android:name=".Core.SendTimer"
            android:enabled="true" />
    </application>

</manifest>
